.mfx-scroll-pane:focused {
    -fx-border-color: transparent;
    -fx-focus-color: red;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 0;
    -fx-faint-focus-width:1;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}
.mfx-scroll-pane > .viewport {
    -fx-focus-color: red;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.image-area{
    -fx-border-color: rgb(230, 230, 230);
    -fx-border-width:0;
    -fx-border-radius:0;
    -fx-background-radius:10;
}
.searchbar {
    -fx-background-color: lightgrey;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.searchbar:focus-within {
    -fx-background-color: white;
    -fx-border-color: silver;
}
.filterbar {
    -fx-background-color: lightgrey;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 1 0;
}
.filterbar:focus-within {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 1 0;
}

.metadata {
    -fx-background-color: transparent;
    -fx-pref-width: 200;
}
.metadata:focus-within {
    -fx-background-color: white;
    -fx-border-color: mediumturquoise;

}
.metadata .floating-text {
    -fx-text-fill: grey;
}
.metadata:floating .floating-text {
    -fx-background-color: transparent;
}
.metadata:focus-within .floating-text {
    -fx-text-fill: black;
}
.link{
    -fx-padding: 3 15 3 15;
    -fx-background-radius: 5px;
}
.link:hover{
    -fx-background-color: transparent;
    -fx-underline: true
}
.link-highlight{
    -fx-padding: 3 15 3 15;
    -fx-background-radius: 5px;
    -fx-background-color: white;
}


.toggle-button{
    -fx-background-color: rgb(240, 240, 240);
    -fx-background-color: powderblue;
}
.toggle-button:selected{
    -fx-background-color: white;
}

.image-button{

}




