.mfx-scroll-pane:focused {
    -fx-border-color: transparent;
    -fx-focus-color: red;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 0;
    -fx-faint-focus-width:1;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}
.mfx-scroll-pane > .viewport {
    -fx-focus-color: red;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.searchbar {
    -fx-background-color: lightgrey;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.searchbar:focus-within {
    -fx-background-color: white;
    -fx-border-color: silver;
}

.metadata {
    -fx-background-color: transparent;
    -fx-pref-width: 200;
}
.metadata:focus-within {
    -fx-background-color: white;
    -fx-border-color: skyblue;

}
.metadata .floating-text {
    -fx-text-fill: grey;
}
.metadata:floating .floating-text {
    -fx-background-color: transparent;
}
.metadata:focus-within .floating-text {
    -fx-text-fill: black;
}




